@import 'tailwindcss';

@theme {
    --color-dark-gray: #232323;
    --color-darker-gray: #2d2d2d;

    --font-arial: 'Arial', sans-serif;

    --scroll-padding-18: calc(var(--spacing) * 18);
    --scroll-padding-20: calc(var(--spacing) * 20);
    --scroll-padding-22: calc(var(--spacing) * 22);
}
